#login_overlay input{
    font-size:30px;
    width:90%;
    margin: 10px 0px;
}

#login_overlay button{
    font-size:30px;
}

#moira_overlay input{
    font-size:25px;
}

header button{
    font-size:25px;
}

#wrapper{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
}

input{
    margin:5px 0px;
}

#cards{
    width:92%;
    margin:0px 2%;
    margin-bottom:5px;
}

.card{
    font-size:20px;
}

#text{
    max-width:94%;
    min-width:94%;
    margin:0px 2%;
    font-size:25px;
}
#guess{
    max-width:94%;
    min-width:94%;
    margin:0px 2%;
    font-size:25px;
}
