body, html{
    margin:0px;
    padding:0px;
}

body{
    background:white;
}

*{
    font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
    font-weight: 100;
}

#wrapper{
    width:400px;
    height:700px;
    margin:0px auto;
    position:relative;
}

.overlay{
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
    height:100%;
}
#dashboard_overlay{
    z-index:5;
    display:block;
}
#moira_overlay{
    z-index:5;
    display:block;
}
#login_overlay{
    z-index:10;
    display:block;
    background:rgb(114, 155, 191);
}

h1.main_title{
    display:block;
    margin:0px auto;
    margin-top:100px;
    display:inline-block;
    color:white;
    height:80px;
    font-height:80px;
    text-align:middle;
    padding-left:70px;
    letter-spacing:3px;
    background-image:url('../media/ios7-search_light.png');
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-position:left center;
}

#login_overlay input{
    background:white;
    color:rgb(100,100,100);
    background-size:20px;
    background-repeat:no-repeat;
    background-position:4px center;
    margin-bottom:10px;
    width:150px;
}
#login_overlay input.username{
    background-image:url('../media/person.png');
}
#login_overlay input.location{
    background-image:url('../media/location.png');    
}
#login{
    border-radius:15px;
    border:none;
    background:white;
    margin-top:20px;
    color:black;
    background-color:white;
    background-image:url('../media/key.png');
    background-size:20px;
    background-position:10px center;
    background-repeat:no-repeat;
    padding:10px;
    width:150px;
    font-size:20px;
}

header{
    position:relative;
    width:98%;
    padding:10px 1%;
    background:rgb(114, 155, 191);
    margin-bottom:10px;
}
header p{
    color:white;
    float:left;
    margin:0px;
    font-size:18px;
}
header button{
    border:1px solid white;
    padding:5px;
    color:white;
    height:50px;
    padding-left:40px;
    border-radius:5px;
    font-size:18px;
    background:none;
    background-size:30px 30px;
    background-position:4px center;
    margin:0px 5px;
    background-repeat:no-repeat;
    border:none;
}
button.change_view.moira{
    background-image:url('../media/chatboxes_light.png');
    float:left;
}
button.change_view.dashboard{
    background-image:url('../media/grid_light.png');
    float:left;
}
button.logout{
    background-image:url('../media/log-out_light.png');
    float:right;
}
button.settings{
    background-image:url('../media/gear-a_light.png');
    float:right;
}
button.refresh{
    background-image:url('../media/refresh_light.png');
    float:right;
    border:none;
}

.row{
    width:90%;
    margin:10px auto;
    position:relative;
    display:block;
}

.column{
    width:48%;
    display:inline-block;
    margin:10px 1%;
    float:left;    
}

.center{
    text-align:center;
}

.clear{
    clear:both;
}

input[type="text"]{
    width:200px;
    font-size:17px;
    border:none;
    padding:10px 4px;
    border-radius:3px;
    color:white;
    background:rgb(80,80,80);
    font-weight:300;
    padding-left:33px;
    background-size:25px 25px;
    background-position:3px center;
    background-repeat:no-repeat;
    margin-bottom:10px;
}
input#username{
    background-image:url('../media/person_light.png');
}
input#location{
    background-image:url('../media/location_light.png');
}

#cards{
    width:96%;
    padding:5px 2%;
    background:rgb(114, 155, 191);
    background:rgb(70,70,70);
    height:400px;
    position:relative;
    clear:both;
    overflow-y:scroll;
}

.card{
    background:rgb(230,230,230);
    width:70%;
    clear:both;
    margin:10px 0px;
    padding:5px;
    color:rhb(100,100,100);
    font-weight:300;
}   
.card p{
    margin:0px;
    font-family:'Courier', 'monospace';
    word-wrap: break-word;
}
.card img{
    display:block;
    width:96%;
    margin:5px 2%;
}
.card .author{
    padding:2px;
    display:block;
    background:rgb(0,0,0);
    color:white;
    font-size:11px;
}
.card.user{
    float:right;
}
.card.friend{
    float:left;
}
.card .confirm{
    background-color:green;
    background-image:url('../media/checkmark_light.png');
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position:center left;
    border:none;
    color:white;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    margin:10px 2%;
    width:60%;
    height:40px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgb(150,150,150);
}
.card .unconfirm{
    background-color:red;
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position:center left;
    border:none;
    color:white;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    margin:10px 2%;
    width:30%;
    height:40px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgb(150,150,150);
}

#text_input_area{
    width:98%;
    width:98%;
    height:80px;
    position:relative;
    margin:10px 1%;
}

#text{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
    top:0px;
    left:0px;
    position:absolute;
    font-size:18px;
    border:none;
    padding:4px 1%;
    border-radius:2px;
    color:white;
    background:rgb(80,80,80);
    font-family:'Courier', 'monospace';
    opacity:0.6;
    z-index:10;
}

#guess{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
    top:0px;
    left:0px;
    position:absolute;
    font-size:18px;
    border:none;
    padding:4px 1%;
    border-radius:2px;
    color:rgb(200,200,200);
    background:rgb(80,80,80);
    font-family:'Courier', 'monospace';
    z-index:9;
}


#send{
    min-width:200px;
    padding:10px;
    background:rgb(114, 155, 191);
    border:none;
    border-radius:4px;
    color:white;
    font-size:20px;
    padding-left:40px;
    background-image:url('../media/paper-airplane_light.png');
    background-size:30px 30px;
    background-repeat:no-repeat;
    background-position:5px center;
    display:none;
}

button{
    cursor:pointer;
}
button:hover{
    opacity:0.8;
}

#score{
    font-size:50px;
    color:rgb(114, 155, 191);
    margin:0px;
    text-align:right;
}   

#questions{
    width:96%;
    margin:10px 2%;
    padding:0px;
    text-align:center;
}

#questions .question{
    text-align:center;
    padding-top:6%;
    width:16%;
    margin:0.3%;
    margin-bottom:2px;
    margin-top:0px;
    height:0px;
    padding-bottom:10%;
    display:inline-block;
    color:white;
    font-size:20px;
}
.question.unanswered{
    background:gray;
}
.question.answered{
    background:green;
}
.question.contested{
    background:red;
}
.question.unconfident{
    background:orange;
}

#online_status{
    display:none;
}
.status{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:gray;
}
.status.online{
    background-color:green;
}
